<% @races.each do |race| %>
<h1><a href="/races/<%= race.id %>">Race <%= race.id %></h1></a>
<% race.racings.all(:order=>[:duration.asc]).each do |racing| %>
<a href="/cars/<%= racing.car.rfid %>"><%= racing.car.carname %></a>
<h4>Time: <%= millisToTime(racing.duration) %>
<br>
<br>
<% end %>


<% end %>

