<% count = 1 %>
<% @racings.each do |racing| %>
<div style="width: 100%;">
<h1>
<%= count.to_s() + ". " %>
</h1>
<% count = count + 1 %>
<h2>
<a href="cars/<%= racing.car.rfid %>"><%= racing.car.carname %></a>
</h2>
by <%= racing.car.name %>
<br>
<%= millisToTime(racing.duration) %>
<br>
during race: <%= racing.race.id %>
<br>
</div>
<% end %>