
<h1><%= @this_car.carname %></h1>
<img src="http://192.168.23.2/~itpstudent/images/Cars/<%= "%010d" % @this_car.rfid %>.jpg" width= "300">
<h3><%= @this_car.carname %> by <%= @this_car.name %></h3>
<br>
<br>
<h2>Races:</h2>

<% @this_car.racings.each do |racing| %>

Time: <%= millisToTime(racing.duration) %>
<br>
<a href="/races/<%= racing.race_id %>">View race</a>
<br>
<br>
<br>
<% end %>

