<h1>Race #<%= @this_race.id %></h1>
<% @racings.each do |racing| %>
<h2><a href="/cars/<%= racing.car.rfid %>"><%= racing.car.carname %></a></h2>
<br>
<h4>by: <%= racing.car.name %></h4>
<p>Time: <%= millisToTime(racing.duration) %></p>
<br>
<% end %>

