
<h1><%= @this_car.carname %></h1>

<br>
<h3>by <%= @this_car.name %></h3>
<img src="http://192.168.23.2/~itpstudent/images/Cars/<%= "%010d" % @this_car.rfid %>.jpg" style="float: left;" width= "300">
<br>
<br>
<h3>Races</h3>

<% @this_car.racings.each do |racing| %>

Time: <%= millisToTime(racing.duration) %>
<br>
<a href="/races/<%= racing.race_id %>">View race</a>
<br>
<br>
<br>
<% end %>

